<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scorpion_a.studentapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/playstore"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activities.DeliveredRequestsDetailsActivity"></activity>
        <activity android:name=".activities.NewsListActivity" />
        <activity android:name=".activities.StaffSettingsActivity" />
        <activity android:name=".activities.SupervisorHomeActivity" />
        <activity android:name=".activities.RejectReasonActivity" />
        <activity android:name=".activities.RejectedRequestsDetailsActivity" />
        <activity android:name=".activities.AcceptedRequestsDetailsActivity" />
        <activity android:name=".activities.SearchForRequestsActivity" />
        <activity android:name=".activities.DeliveredRequestsActivity" />
        <activity android:name=".activities.RejectedRequestsActivity" />
        <activity android:name=".activities.PendingRequestsActivity" />
        <activity android:name=".activities.AcceptedRequestsActivity" />
        <activity android:name=".activities.StaffProfilePageActivity" />
        <activity android:name=".fragments.StaffMenuFragment" />
        <activity android:name=".activities.StaffHomeActivity" />
        <activity android:name=".fragments.StaffHomeFragment" />
        <activity android:name=".activities.ResultsActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.MyRequestsActivity" />
        <activity android:name=".activities.EventsListActivity" />
        <activity android:name=".activities.RequestTutorialActivity" />
        <activity android:name=".activities.PendingRequestsDetailsActivity" />
        <activity android:name=".activities.AboutHTIActivity" />
        <activity android:name=".activities.StudentEditProfile" />
        <activity android:name=".activities.StudentProfile" />
        <activity android:name=".activities.NotifyDetailsActivity" />
        <activity android:name=".activities.ConfirmRequestActivity" />
        <activity android:name=".activities.SupportActivity" />
        <activity android:name=".activities.TutorialDetailsActivity" />
        <activity android:name=".activities.TutorialActivity" />
        <activity android:name=".activities.AppTechSupportActivity" />
        <activity android:name=".activities.RequestDataActivity" />
        <activity android:name=".activities.NewsDetailsActivity" />
        <activity android:name=".activities.FAQsAnswersActivity" />
        <activity android:name=".activities.FAQSActivity" />
        <activity android:name=".activities.TestQuestionsActivity" />
        <activity android:name=".activities.NotificationReplyActivity" />
        <activity android:name=".activities.SendRequestActivity" />
        <activity android:name=".activities.NotificationDetailsActivity" />
        <activity android:name=".activities.TestYourselfActivity" />
        <activity android:name=".activities.RegProposalActivity" />
        <activity android:name=".activities.PrintoutActivity" />
        <activity android:name=".activities.EditPasswordActivity" />
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.ProfilePageActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.LoginScreen" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>